<header class="mb-4 w-full bg-gray-50 p-4 border border-gray-200 dark:bg-gray-700 dark:border-gray-600">  
    {{> nav }}
    <h1 class=" flex flex-row justify-center items-center gap-4 mt-8">
        <a href="/" class="text-5xl font-black">Just Tech News</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd" /><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z" /></svg>
    </h1>
</header>