<div class="wrapper">
    {{> header }}
    <main>
        <div>LOOK IT IS THE DASHBOARD</div>
        <script src="/javascript/home.js"></script>
    </main>
    <footer>
    Tech Blog - 2022
    </footer>
</div>

