<div class="wrapper">
    {{> header }}
    <main>
        <div class="flex flex-col bg-dark mx-8 outline outline-2 outline-slate-300 rounded-sm p-4">
            <div class="flex justify-between pb-2 border-b-2">
                <h1 class="font-medium">Title of Blog Post</h1>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd" /></svg>
            </div>
            <p id="body" class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae aut dicta earum vero reprehenderit blanditiis tempora quidem quod facilis autem!</p>
        </div>
        

        <script src="/javascript/dashboard.js"></script>
    </main>
    <footer>
    Tech Blog - 2022
    </footer>
</div>