<div class="wrapper">
    {{> header }}
    <main>
        <div id="wrapper" class="bg-white flex flex-row p-8 justify-around content-start">
            <div>
                <form id="login-form " class="flex flex-col gap-3 items-end">
                    <div class="flex flex-col">
                        <label for="email-login" class="text-sm mb-1 text-slate-600">email:</label>
                        <input type="text" id="email-login" class="outline outline-1 rounded-sm p-1" />
                    </div>
                    <div class="flex flex-col">
                        <label for="password-login" class="text-sm mb-1 text-slate-600">password:</label>
                        <input type="password" id="password-login" class="outline outline-1 rounded-sm p-1"/>
                    </div>                
                </form>
                <div class="flex justify-center">
                    <button type="submit" class="bg-teal-100 p-1 px-4 rounded-md mt-4 outline outline-2 outline-teal-700 outline-offset-2 hover:outline-1 hover:outline-teal-400 font-medium">Login</button>
                </div>
            </div>

            <div>
                <form id="signup-form" class="flex flex-col gap-3 items-end">
                    <div class="flex flex-col">
                        <label for="username-signup" class="text-sm mb-1 text-slate-600">username:</label>
                        <input type="text" id="username-signup" class="outline outline-1 rounded-sm p-1" />
                    </div>
                    <div class="flex flex-col">
                        <label for="email-signup" class="text-sm mb-1 text-slate-600">email:</label>
                        <input type="text" id="email-signup" class="outline outline-1 rounded-sm p-1"  />
                    </div>
                    <div class="flex flex-col">
                        <label for="password-signup" class="text-sm mb-1 text-slate-600">password:</label>
                        <input type="password" id="password-signup" class="outline outline-1 rounded-sm p-1" />
                    </div>                
                </form>
            <div class="flex justify-center">
                <button type="submit" class="bg-teal-100 p-1 px-4 rounded-md mt-4 outline outline-2 outline-teal-700 outline-offset-2 hover:outline-1 hover:outline-teal-400 font-medium">Sign-Up</button>
            </div>
            </div>

        </div>

        <script src="/javascript/login.js"></script>
        <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </main>
    <footer>
    Tech Blog - 2022
    </footer>
</div>